Package: com.whitenightchan.ytclassicdarktheme
Name: YTClassicDarkTheme
Version: 0.1.0
Architecture: iphoneos-arm
Description: Restore YouTube's classic gray dark theme
Maintainer: WhiteNightChan
Author: WhiteNightChan
Section: Tweaks
Depends: ellekit
